@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap');
html {
	font-size: 62.5%;
}

* {
	margin: 0rem;
	padding: 0rem;
	font-family: 'Inter', sans-serif;
	color: #FFFFFF;
	font-style: normal;
}
article {
	width: min-content;
}

body {
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size: 1.6rem;
	background-color: #0F0F0F;
}

	body h3,h2,p {
		font-weight: 300;
		font-size: 2.9rem;
		line-height: 3.5rem;
	}

	body h1 {
		padding: 0rem 0rem 2.5rem 0rem;
		font-weight: 600;
		font-size: 5.4rem;
		line-height: 6.5rem;
	}

header, main, footer {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 2.5rem 0rem 2.5rem 0;
}

header {
	padding: 2.5rem 0rem 2.5rem 0rem;
}

	header div {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 2.5rem 0rem 2.5rem 0rem;
		row-gap: 1rem;
	}

main form {
	display: flex;
	flex-direction: column;
	align-items: center;
}

/* Mantem o Label a esquerda conforme solicitado */
main form div {
	display: flex;
	flex-direction: column;
	align-items: left;
	width: 45rem;
	padding-top: 4rem;
}

main form div label {
	font-weight: 300;
	font-size: 3.3rem;
	line-height: 4rem;
	padding-left: 1rem;
}

form input {
	font-size: 1.8rem;
	background: #7F7F7F;
	border-radius: 2.5rem;
	/* width: 56.6rem; */
	height: 5rem;
	width: auto;
	margin-top: 2rem;
	margin-bottom: 1rem;
	padding: 0.5rem;
}
	main input::placeholder{
		color: white;
	}

main form input[type="submit"] {
	display: flex;
	flex-direction: column;
	align-items: center;
	align-content: center;
	width: 21.4rem;
	height: 5rem;
	font-weight: 300;
	font-size: 3.3rem;
	line-height: 4rem;

	background: #8C77E0;
	border: 0.1rem solid #000000;
	box-shadow: 0rem 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
	border-radius: 2.5rem;
}
main form input[type="submit"]:hover {
	cursor: pointer;
}

footer button {
	display: flex;
	flex-direction: column;
	align-items: center;
	align-content: center;
	width: 40.45rem;
	height: 5rem;
	margin-top: 2.5rem;

	background: #8C77E0;
	border: 0.1rem solid #000000;
	box-shadow: 0rem 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
	border-radius: 2.5rem;
}
footer h2 {
	text-align: center;
}

footer a {
	font-weight: 300;
	font-size: 3.3rem;
	line-height: 4rem;
	text-decoration: none;
}

@media all and (max-width:479px){
	html {font-size: 20%;}
}